body{background-color:#CCE7D3;}

.display-4{font-size:50px;
	color: white;
	background-color:#87D5AA;
	margin: 0px;
	padding-top:10px;
	padding-bottom:20px;
	padding-left:10px;
	text-align:center;
          }

.lead{font-size:30px;
	color: white;
	background-color:#87D5AA;
	margin: 0px;
	padding-top:10px;
	padding-bottom:20px;
	padding-left:10px;
	text-align:center;}

.p-3 p-sm-5 mb-4 bg-img bg-head{padding:84px;
			       }

.pl-1 bg-lightblue{}

.lead2{font-size:15px;
	color: brack;
	background-color:white;
	margin: 0px;
	padding-top:10px;
	padding-bottom:20px;
	padding-left:10px;
	text-align:center;}

p{font-size:15px;
	color: brack;
	background-color:white;
	margin: 0px;
	padding-top:10px;
	padding-bottom:20px;
	padding-left:10px;
	text-align:center;}

.pl-1 bg-lightblue{font-size:30px;
	color: brack;
	background-color:#87D5AA;
	margin: 0px;
	padding-top:10px;
	padding-bottom:20px;
	padding-left:10px;
	text-align:center;}


